.noto-sans-jp-regular {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.dancing-script-bold {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


/* ヘッダー */
.pop {font-family: "Poppins",sans-serif;}

.container {
    width: 90%;
    max-width: 1120px;
    margin: 0 auto;
    position: relative;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

header {
    padding: 27px 0;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.04em;
}

.logo span {
    color: #1E90FF;
}

.header_menu li {
    margin-left: 40px;
}

.header_menu li a {
    transition: .3s;
}

.header_menu li a:hover {
    color: #1E90FF;
    transition: .3s;
}

@media only screen and (max-width: 768px) {
    header .container {
        justify-content: center;
    }
    .header_menu li {
        margin: 20px 16px 0;
    }
}


/* メイン */
#hero {
    background-image: url(../images/hero.jpg);
    background-position: center;
    background-size: cover;   
    height: 540px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 90px;
    overflow: hidden;
}

#hero::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    z-index: 1;
}

.hero_inner {
    z-index: 2;
    color: #ffffff;
    width: 100%;
    text-align: center;
}

.hero_inner p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}

.hero_inner h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}

@media only screen and (max-width: 768px) {
    #hero {height: 460px;}
    .hero_inner p {font-size: 15px;}
    .hero_inner h1 {font-size: 17px;}
}


/* パート１ */
#part1 {
    margin-bottom: 120px;
}

.title {
    font-size: 20px;
    font-weight: 500;
    color: #1E90FF;
    margin-bottom: 40px;
}

#part1 h3 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 60px;
}

.column-2 {
    width: 48%;
}

.text {
    line-height: 2;
}

.part1 img {
    border-radius: 20px;
}

.heading {
    font-family: "Dancing Script", cursive;
    font-size: 200px;
    font-weight: 700;
    color: #1E90FF;
    opacity: 0.1;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-30%);
    z-index: -1;
}

@media only screen and (max-width: 768px) {
    #part1 h3 {
        font-size: 24px;
        line-height: 1.5;
    }
    .column-2 {
        width: 100%;
    }
    .text {
        font-size: 15px;
        line-height: 1.7;
        margin-bottom: 24px;
    }
    .part1-img {margin-top: 30px;}
}


/* パート２ */
#part2 {
    margin-bottom: 120px;
}

.part2_inner {
    margin-bottom: 40px;
    position: relative;
}

.column-40 {
    width: 40%;
}

.column-55 {
    width: 55%
}

#part2 img {
    border-radius: 20px;
}

#part2 h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
}

@media only screen and (max-width: 768px) {
    .column-40 {
        width: 100%;
        margin-bottom: 30px;
    }
    .column-55 {
        width: 100%;
    }
    #part2 h3 {
        font-size: 17px;
    }
    .heading {
        display: none;
    }
}

/* パート３ */
#part3 {
    margin-bottom: 120px;
}

#part3 dl {
    max-width: 900px;
    margin-left: auto;
}

#part3 dt {
    width: 30%;
    padding: 48px 0;
    font-weight: 500;
    border-bottom: solid 1px #B0C4DE;
}

#part3 dd {
    width: 70%;
    padding: 48px;
    border-bottom: solid 1px #B0C4DE;
}

@media only screen and (max-width: 768px) {
    #part3 dl {
        font-size: 13px;
    }
}


/* ボトム */
.column-a ,
.column-b ,
.column-c ,
.column-d  {
  width: 24%;
}

.column-a img,
.column-b img,
.column-c img,
.column-d img {
  border-radius: 20px;
}

@media only screen and (max-width: 768px) {
    .column-a,.column-b,.column-c,.column-d {
        width: 48%;
        height: 140px;
        margin: 1%;
    }
}


/* フッター */
footer {
    text-align: center;
    margin: 90px 0;
}

.copyright {
    font-size: 12px;
    margin-top: 40px;
}